<div class='box'>
  <h1>Top Companies by Interest</h1>
  <ul>
    <li><%= @top_three_companies[0][0] %> - <%= @top_three_companies[0][1] %>
    <li><%= @top_three_companies[1][0] %> - <%= @top_three_companies[1][1] %>
    <li><%= @top_three_companies[2][0] %> - <%= @top_three_companies[2][1] %>
  </ul>
</div>

<div id="interests">
  <h1>Jobs by Interest</h1>
  <table id="interest-table">
    <% (1..100).each do |level| %>
      <% if @jobs.count_by_level_of_interest(level) == 0 %>
      <% next %>
      <% else %>
      <tr>
        <td><%=(level) %>: <%= @jobs.count_by_level_of_interest(level) %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>