<h1 id='all-categories'>All Categories</h1>
<%= link_to 'Add a New Category', new_category_path, class: 'new-category' %>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to edit_category_path(category), class: 'edit-category-link' do %>
        <%= svg_asset("Edit", width: 20, height: 20) %>
      <% end %>
      <%= link_to category_path(category), method: "delete", class: 'delete-category-link' do %> 
        <%= svg_asset("Delete", width: 20, height: 20) %>
      <% end %>
      --
      <a href="/categories/<%= category.id %>"><%= category.title %></a>
      <%= link_to category_jobs_path(category) do %>
        <%= @category_count[category.id] %> jobs
      <% end %>
    </li>
  <% end %>
</ul>
