<h1><%= @category.title %> Jobs </h1>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to edit_job_path(job) do %>
        <%= svg_asset("Edit", width: 20, height: 20) %>
      <% end %>
      <%= link_to job_path(job), method: "delete" do %> 
        <%= svg_asset("Delete", width: 20, height: 20) %>
      <% end %>
      Title: <%= link_to "#{job.title}", company_job_path(job.company, job) %>
      Description: <%= job.description %>
      Level of Interest: <%= job.level_of_interest %>
      City: <%= job.city %>
      Company: <%= job.company.name %>
    </>
  <%end%>
</ul>
